h1 {
  text-align: center;
  color: black;
}

h3 {
  text-align: center;
  color: black;
}

.wiz {
  width: 500px;
  background-color:black;
  color: white;
  margin: 0px auto;

}

.form {
    text-align: center;
}

li {
  list-style-type:none;
  margin: 0px 0px 0px -30px;
  padding:20px 0px 20px 20px;

}
#cardTitle {
 height:70px;
}

